h3 {
  font: 14px/1.5 "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 14px;
  outline: none;
  font-weight: bold;
  font-size: 16px;
}

//reset slick slider
.slick-prev {
  left: -13px !important;
  z-index: 1000;
}
.slick-next {
  right: 0 !important;
}

.slick-prev:before,
.slick-next:before {
  color: #0d6efd36 !important;
  font-size: 33px !important;
}

.slick-disabled {
  display: none !important;
}

.Doctor {
  width: 80%;
  left: 0;
  right: 0;
  position: relative;
  margin: auto;
  min-height: 27rem;
  .Doctor-Title {
    padding: 2rem 0;
    font-weight: bold;
  }
  .customize {
    height: auto;
    .container {
      border: 1px solid #dad7dc;
      width: 97%;
      border-radius: 13px;
      height: 100%;
      cursor: pointer;
      .img-customize {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        .luoi {
          border-radius: 50%;
          margin: 10px auto;
          width: 120px;
          height: 120px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .Doctor-customize {
        .DT {
          font-size: 14px;
          text-align: center;
          color: #111;
          white-space: pre-wrap;
          .dt-text {
            text-decoration: none;
            color: #111;
          }
          &:hover {
            color: #0d6efd;
          }
        }
        .K {
          font-size: 12px;
          text-align: center;
          color: #555;
        }
      }
    }
  }
}
