.header_content {
  .dateTime {
    display: flex;
    flex-wrap: wrap;

    .DoctorTime-item {
      text-align: center;
      border-radius: 2px;
      border: 1px solid #00000042;
      margin: 0 3px 5px 0;
      padding: 4px 10px;
      line-height: 1px;
      cursor: pointer;
      &.active {
        background-color: #fff04b;
      }
    }
  }

  .button {
    margin: 5px 0;
    .btn-Create {
      padding: 2px;
      margin-top: 5px;
      width: 100%;
    }
  }
}
