@import "../../styles/common.scss";

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;
  .languages {
    display: "flex";
    display: flex;
    width: 13rem;
    align-items: center;
    span.wellcome {
      /* height: 51px; */
      width: 146px;
      color: #fff;
    }
    .flag-vn {
      margin: 0 4px;
      cursor: pointer;
      &.active {
        span {
          color: orange;
        }
      }
    }
    .flag-en {
      cursor: pointer;
      &.active {
        span {
          color: orange;
        }
      }
    }
    .btn-logout {
      color: $common-text-color;
      line-height: 42px;
      height: 40px;
      padding: 0 10px;
      &:hover {
        background-color: darken($colormain, 5);
      }
      i {
        font-size: $base-size + 1px;
      }
    }
  }
}
