.bodyVerify {
  top: 5rem;
  position: absolute;
  width: 80%;
  text-align: center;
  .title {
  }
  .btnBooking {
    padding: 5px 5px;
    line-height: 5px;
    width: 16%;
    margin-top: 16px;
  }
}
